# Exercise 1

## Problem1: Write a Python program to print the following string in a specific format (see the output).

In [49]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!

In [50]:
from math import pi

radius = float(input("r = "))
area = pi * radius**2
print("Area = ", area)

r = 1.1
Area =  3.8013271108436504

## Problem 6: Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

# List Operations

In [51]:
students = ["Saffan", "Misbah", "Wajid", "Adnan", "Owais", "Khaleel"]

In [52]:
for i in students:
    print(i)

Saffan
Misbah
Wajid
Adnan
Owais
Khaleel

In [53]:
students[0]

'Saffan'

In [54]:
students[1:2]

['Misbah']

In [55]:
students[:5]

['Saffan', 'Misbah', 'Wajid', 'Adnan', 'Owais']

In [60]:
students[::-1] # reverse

['Khaleel', 'Owais', 'Adnan', 'Wajid', 'Misbah', 'Saffan']

In [63]:
sentence = 'The quick brown fox jumped over the lazy dog'

In [66]:
sentence.split('jumped')

['The quick brown fox ', ' over the lazy dog']

## Problem 6: Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.

In [73]:
number = input("Enter numbers: ")
numbersList = list(number.split(','))
numbersTuple = tuple(numbersList)

print(numbersList)
print(numbersTuple)

Enter numbers: 1,2,3,4,5,6
['1', '2', '3', '4', '5', '6']
('1', '2', '3', '4', '5', '6')

In [74]:
tv_series = [
    'Doctor Who',
    'The Walking Dead',
    'Breaking Bad',
    'Knight Rider',
    'The Simpsons',
    'The X-Files',
    'Friends',
    'The Big Bang Theory',
    'Silicon Valley'
]

In [78]:
', '.join(tv_series)

'Doctor Who, The Walking Dead, Breaking Bad, Knight Rider, The Simpsons, The X-Files, Friends, The Big Bang Theory, Silicon Valley'